/* Write your CSS code here */
.blog-container {
  display: flex;
  border: 1px solid #8e8e8e;
  padding: 10px;
  border-radius: 10px;
}

.blog-image {
  margin-right: 30px;
}
.blog-image img {
  width: 280px;
  height: 200px;
  border-radius: 10px;
}
.blog-author-details {
  display: flex;
}
.author-img {
  max-width: 40px;
  border-radius: 50px;
  margin-right: 10px;
}
